* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 10rem;
}

.btn {
  cursor: pointer;
}

.left {
  display: flex;
  justify-content: left;
}
